<footer id="footerWrapper" class="footer2">
    <section id="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">
                        <h3>The Sample Site</h3>
                        <p>
                            This web site is a sample site for
                            <br/>
                            <a href="https://www.cloudcms.com" title="Cloud CMS" target="_blank">Cloud CMS</a>.  It is designed to demonstrate important features of Cloud CMS.
                        </p>
                        <p>
                            The examples provided herein are representative of real-world uses.  They can be used as a basis for your own web sites and applications.
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">
                        <h3>About Cloud CMS</h3>
                        <p>
                            <a href="https://www.cloudcms.com" title="Cloud CMS" target="_blank">Cloud CMS</a> makes it easy for any business to create, manage and publish amazing content to mobile and web applications.  We provide all of the back-end infrastructure your business needs to deliver better customer-facing experiences.  You focus on innovation while we do the rest.
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">

                        <h3>Links</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.cloudcms.com/samplesite.html" title="Sample Site Guide" target="_blank">
                                    Sample Site Guide
                                </a>
                            </li>
                            <li>
                                <a href="https://www.cloudcms.com/developers.html" title="For Developers" target="_blank">
                                    For Developers
                                </a>
                            </li>
                            <li>
                                <a href="https://www.cloudcms.com/videos.html" title="Feature Videos" target="_blank">
                                    Feature Videos
                                </a>
                            </li>
                            <li>
                                <a href="https://www.cloudcms.com/documentation.html" title="For Developers" target="_blank">
                                    Documentation
                                </a>
                            </li>
                            <li>
                                <a href="https://www.cloudcms.com/trial.html" title="Sign up for a Free Trial" target="_blank">
                                    Sign up for a Free Trial
                                </a>
                            </li>
                            <li>
                                <a href="https://www.cloudcms.com" title="About Cloud CMS" target="_blank">
                                    About Cloud CMS
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">

                        <h3>Contact Us</h3>
                        <address>

                            <!-- address -->
                            <div class="pull-left" style="width: 25px">
                                <i class="icon-location"></i>
                            </div>
                            <div style="margin-left: 25px">
                                1220 Washington Street
                                <br/>
                                West Newton, MA 02465
                                <br/>
                                USA
                            </div>
                            <div style="clear:both"></div>

                            <!-- phone -->
                            <div class="pull-left" style="width: 25px">
                                <i class="icon-phone"></i>
                            </div>
                            <div style="margin-left: 25px">
                                <a href="tel:6174755288">617.475.5288</a>
                            </div>
                            <div style="clear:both"></div>

                            <!-- email -->
                            <div class="pull-left" style="width: 25px">
                                <i class="icon-mail-alt"></i>
                            </div>
                            <div style="margin-left: 25px">
                                <a href="mailto:info@cloudcms.com">info@cloudcms.com</a>
                            </div>
                            <div style="clear:both"></div>

                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footerRights">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <ul class="socialNetwork">
                        <li><a href="http://www.twitter.com/cloudcms" target="_blank" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
                        <li><a href="https://plus.google.com/115558210972098523898" target="_blank" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/cloudcms" target="_blank" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                        <li><a href="https://www.github.com/gitana" target="_blank" class="tips" title="follow me on GitHub"><i class="icon-github iconRounded"></i></a></li>
                    </ul>
                </div>


                <div class="col-md-12">
                    <p>Copyright © 2014 <a href="https://www.cloudcms.com" target="blank">Cloud CMS</a> / All rights reserved.</p>
                </div>

            </div>
        </div>
    </section>
</footer>