{@layout path="catalog" theme="red"  /}

{<content}

<section id="content">
    <header class="page-header mb30">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        <a href="/catalog/index.html">Product Catalog Changed</a>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <section class="pt30 pb30">
        <div class="container clearfix">
            <div class="row">

                <!-- categories filter -->
                <nav id="filter" class="span12 text-center">
                    <div class="btn-group">
                        <a href="" class="btn btn-default" data-filter="*">All</a>
                        <a href="" class="btn btn-default" data-filter=".chocolate">Chocolate</a>
                        <a href="" class="btn btn-default" data-filter=".strawberry">Strawberry</a>
                        <a href="" class="btn btn-default" data-filter=".birthdays">Birthdays</a>
                        <a href="" type="button" class="btn btn-default"  data-filter=".holidays">Holidays</a>
                    </div>
                </nav>

                <!-- items -->
                <div class="portfolio-items isotopeWrapper clearfix imgHover neko-hover-1" id="3">

                    {@query type="catalog:product" sort="title"}
                    {#rows}
                    <article class="col-sm-4 isotopeItem {#categories}{.} {/categories}">
                        <div class="pinBox">
                            <figure>
                                <a href="product.html?id={_doc}" title="link">
                                    <img style="width:326px" alt="{title}" src="/preview/node/{_doc}/thumbnail?width=326&mimetype=image/jpeg" class="img-responsive">
                                </a>
                                <figcaption>
                                    <ul class="pinInfo">
                                        <li><a href=""><i class="icon-eye"></i>150</a></li>
                                        <li><a href=""><i class="icon-comment-1"></i>4</a></li>
                                        <li><a href=""><i class="icon-heart"></i>32</a></li>
                                    </ul>
                                    <div class="iconLinks">
                                        <a href="product.html?id={_doc}" title="link"><i class="icon-picture "></i></a>
                                        <a href="product.html?id={_doc}" class="image-link" title="Zoom" ><i class="icon-search"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                            <section class="boxContent">
                                <h3>{title}</h3>
                                <p>
                                    {summary}
                                    <br />
                                    <a href="product.html?id={_doc}" class="moreLink">&rarr; read more</a>
                                </p>
                            </section>
                        </div>
                    </article>
                    {/rows}
                    {/query}

                </div>
            </div>
        </div>
    </section>
</section>

{/content}
