{@layout path="guide" theme="blue" /}

{<content}

<section id="page">
    <header class="page-header mb30">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>
                        <a href="/guide/index.html">Travel Guide</a>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <section id="content" class="mt30 pb30">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb30 text-center">
                    <h1>Select your Destination</h1>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3"></div>
                <div class="col-md-6">

                    <section data-stellar-background-ratio="0.5" style="background-image: url('/images/guide/cities.jpg'); border-radius: 32px;">
                        <div class="maskParent">
                            <div class="paralaxMask" style="border-radius: 32px"></div>
                            <div class="paralaxText">
                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="col-md-12 text-center pt30 pb30">
                                            <h2>
                                                <a href="/guide/cities.html"><i class="icon-building iconMedium iconRounded"></i></a>
                                                <br />
                                                <a href="/guide/cities.html">
                                                    Browse Cities
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

                <div class="col-md-3"></div>

            </div>
        </div>
    </section>
    <!--end page content-->

</section>

{/content}

