<script id="rotatorTemplate" type="text/x-jquery-tmpl">

    <div id="rotator">

        <div id="rotator-background"></div>

        <div id="rotator-items-container">

            <ul class="items">
                <li class="track" slug="first" insightnode="xyz/master/123">
                    <img src="documents/thumbnail1x.jpg">
                </li>
                <li class="track" slug="second" insightnode="xyz/master/123">
                    <img src="documents/thumbnail2x.jpg">
                </li>
                <li class="track" slug="third" insightnode="xyz/master/123">
                    <img src="documents/thumbnail3x.jpg">
                </li>
                <li class="track" slug="fourth" insightnode="xyz/master/123">
                    <img src="documents/thumbnail4x.jpg">
                </li>
                <li class="track" slug="fifth" insightnode="xyz/master/123">
                    <img src="documents/thumbnail5x.jpg">
                </li>
            </ul>

        </div>

    </div>

</script>
