<script id="splashTemplate" type="text/x-jquery-tmpl">

    <div id="splash">

        <div id="splash-background">
            <video width="100%" autoplay="autoplay" loop="loop">
                <source src="media/splash.mp4" type="video/mp4; codecs=avc1.4D401E, mp4a.40.2" />
            </video>
        </div>

        <div id="splash-logo" align="center">
            <img src="media/cloudcms2.png" width="75%"/>
            <h1>Press the screen to Start</h1>
        </div>

    </div>

</script>
