<meta charset="utf-8">
<title>{page.title}</title>
<meta name="description" content="{page.description}">
<meta name="author" content="{page.author}">
<meta name="keywords" content="{page.keywords}" />
<meta name="title" content="{page.title}" />
<!-- Mobile Specific Metas
	================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
	================================================== -->
<!-- Bootstrap  -->
<link type="text/css" rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<!-- web font  -->
<link href='//fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
<!-- Pop up-->
<link rel="stylesheet" type="text/css" href="/theme/js-plugin/magnific-popup/magnific-popup.css" />
<!-- Owl carousel-->
<link rel="stylesheet" href="/theme/js-plugin/owl.carousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/theme/js-plugin/owl.carousel/owl-carousel/owl.transitions.css">
<link rel="stylesheet" href="/theme/js-plugin/owl.carousel/owl-carousel/owl.theme.css">
<!-- nekoAnim-->
<link rel="stylesheet" type="text/css" href="/theme/js-plugin/appear/nekoAnim.css" />
<!-- Background Video -->
<link type="text/css" rel="stylesheet" href="/theme/js-plugin/ytplayer/YTPlayer.css">
<!-- icon fonts -->
<link type="text/css" rel="stylesheet" href="/theme/font-icons/custom-icons/css/custom-icons.css">
<link type="text/css" rel="stylesheet" href="/theme/font-icons/custom-icons/css/custom-icons-ie7.css">
<!-- Custom css -->
<link type="text/css" rel="stylesheet" href="/theme/css/layout.css">
<link type="text/css" id="colors" rel="stylesheet" href="/theme/css/{?theme}{theme}{:else}blue{/theme}.css">
<link type="text/css" rel="stylesheet" href="/theme/css/custom.css">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
<script src="/theme/js/modernizr-2.6.1.min.js"></script>
<!-- Favicons
	================================================== -->
<link rel="shortcut icon" href="//theme/images/favicon.ico">
<link rel="apple-touch-icon" href="/theme/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/theme/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/theme/images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="/theme/images/apple-touch-icon-144x144.png">

<link type="text/css" rel="stylesheet" href="/styles/custom.css">






