doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      a(href='/teardown') Teardown example Content Items
      br
      a(href='/setup') Create new Content Items
      br
      a(href='/') View Content Items
      br
    block content