<header class="navbar-fixed-top">

    <!-- pre header -->
    <div id="preHeader" class="hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <ul class="quickMenu">
                        <li><a href="template-site-map.html" class="linkLeft">Site map</a></li>
                        <li><a href="template-about.html">About us</a></li>
                        <li><a href="template-team.html">Our team</a></li>
                        <li><a href="template-contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <div id="contactBloc" class="clearfix">
                        <!-- social icons -->
                        <ul class="socialNetwork">
                            <li><a href="#" class="tips" title="follow me on Facebook"> <i class="icon-facebook-1"></i></a></li>
                            <li> <a href="#" class="tips" title="follow me on Twitter"> <i class="icon-twitter-bird"></i> </a> </li>
                            <li>
                                <a href="#" class="tips" title="follow me on Google+">
                                    <i class="icon-gplus-1"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tips" title="follow me on Linkedin">
                                    <i class="icon-linkedin-1"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tips" title="follow me on Dribble">
                                    <i class="icon-dribbble"></i>
                                </a>
                            </li>
                            <!-- social icons -->
                        </ul>
                        <!-- phone -->
                        <span class="contactPhone"><i class="icon-mobile"></i>615.987.1234</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pre header -->
    <!-- header -->
    <div id="mainHeader" role="banner">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <!-- responsive navigation -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Logo -->
                    <a class="navbar-brand" href="/index.html"><img src="/images/logo/top.png" alt="Cloud CMS Sample Web Site"/></a>
                </div>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <!-- Main navigation -->
                    <ul class="nav navbar-nav pull-right">

                        <li class="primary">
                            <a href="/index.html" class="firstLevel active">Home</a>
                        </li>
                        <li class="sep"></li>
                        <li class="primary">
                            <a href="https://www.cloudcms.com/samplesite.html" target="_blank" class="firstLevel">Sample Site Guide</a>
                        </li>
                        <li class="sep"></li>
                        <li class="primary">
                            <a href="https://www.cloudcms.com/developers.html" target="_blank" class="firstLevel">Developers</a>
                        </li>
                        <li class="sep"></li>
                        <li class="primary">
                            <a href="https://www.cloudcms.com/trial.html" target="_blank" class="firstLevel last">Free Trial</a>
                        </li>
                        <li class="sep"></li>
                        <li id="lastMenu" class="last">
                            <a href="https://www.cloudcms.com" target="_blank" class="firstLevel">About Cloud CMS</a>
                        </li>
                    </ul>
                    <!-- End main navigation -->
                </div>
            </nav>
        </div>
    </div>

</header>